{{#link-to 'why.cutting-edge-features' class="full-page"}}
<div class="gray-200" data-logo-id="r33">
  {{fa-icon "magic"}}
  <h1 class="green">Cutting Edge Features</h1>
</div>
{{/link-to}}
<section class="parent">
  <div class="child-250 black">
    <div>
      {{fa-icon "magic"}}
      <h1 class="green">Single Page Applications</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "random"}}
      <h1 class="green">Fastboot</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "cubes"}}
      <h1 class="green">Containerized</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "puzzle-piece"}}
      <h1 class="green">Modularity</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "mobile"}}
      <h1 class="green">Responsive</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "dollar"}}
      <h1 class="green">PAYE</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "flash"}}
      <h1 class="green">Animated Transitions</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "toggle-on"}}
      <h1 class="green">Push Notifications</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "arrow-down"}}
      <h1 class="green">Infinite Scroll
      </h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "line-chart"}}
      <h1 class="green">Big Data Dashboard</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "magnet"}}
      <h1 class="green">Guided SEO</h1>
    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "paperclip"}}
      <h1 class="green">Campaigns</h1>
    </div>
  </div>
</section>
{{liquid-outlet}}

<h4>
{{#link-to 'platform.index' class="hero-container"}}
  <button type="button" name="button">
    Platform
  </button>
{{/link-to}}
</h4>
