
<div class="parent">
  <!-- {{#link-to 'why' class="child"}}
  <div class="r1"></div>
  <div>
    <h1 class="green">Why eWebdesign.co?</h1>
  </div>
  {{/link-to}} -->

  {{#link-to 'why' class="child"}}
    <div class="black" data-logo-id="r3">
      {{fa-icon "question-circle"}}
      <h1 class="green">Why eWebdesign.co?</h1>
      <p>Some Sample Text Goes Here</p>
    </div>
  {{/link-to}}

  {{#link-to 'platform' class="child"}}
  <div class="black" data-logo-id="r2">
    {{fa-icon "sitemap"}}
    <h1 class="green">Unified Platform</h1>
    <p>Some Sample Text Goes Here</p>
  </div>
  {{/link-to}}

  {{#link-to 'store' class="child"}}
  <div class="black" data-logo-id="r4">
    {{fa-icon "shopping-cart"}}
    <h1 class="green">eCommerce Storefront</h1>
    <p>Some Sample Text Goes Here</p>
  </div>
  {{/link-to}}

  {{#link-to 'custom-services' class="child"}}
  <div class="black" data-logo-id="r5">
    {{fa-icon "plus"}}
    <h1 class="green">Custom Services</h1>
    <p>Some Sample Text Goes Here</p>
  </div>
  {{/link-to}}

  {{#link-to 'roadmap' class="child"}}
  <div class="black" data-logo-id="r1">
    {{fa-icon "space-shuttle"}}
    <h1 class="green">Roadmap</h1>
    <p>Some Sample Text Goes Here</p>
  </div>
  {{/link-to}}

  {{#link-to 'next-steps' class="child"}}
  <div class="black" data-logo-id="r6">
    {{fa-icon "mail-forward"}}
    <h1 class="green">Next Steps</h1>
    <p>Some Sample Text Goes Here</p>
  </div>
  {{/link-to}}
  <!-- {{#link-to 'intro' class="child"}}
  <img class="big" src="assets/images/eweblogo.png" data-logo-id="eweb" alt="Me" />
  {{/link-to}}
  {{#link-to 'lost-grid' class="child"}}
  <img class="big" src="assets/images/eweblogo.png" data-logo-id="lost-grid" alt="Me" />
  {{/link-to}} -->
  <!-- {{#link-to 'gallery' class="child"}}
  <div class="full-width" data-id="gallery"></div>
  {{/link-to}} -->

</div>

{{liquid-outlet}}
