<div class="container">
  <div class="transformer {{isExpanded}}">
    <div class="off-canvas">
      {{#if isExpanded}}
      <div class="hamburger-left" {{action 'contract'}}>
        <div class="white-stroke"></div>
        <div class="white-stroke"></div>
        <div class="white-stroke"></div></div>
      {{else}}
      <div class="hamburger-left" {{action 'expand'}}>
        <div class="white-stroke"></div>
        <div class="white-stroke"></div>
        <div class="white-stroke"></div></div>
      {{/if}}
      <ul>
        <li>{{#link-to 'why' class="ul1"}}Why?{{/link-to}}</li>
        <li>{{#link-to 'platform' class="ul1"}}Platform{{/link-to}}</li>
        <li>{{#link-to 'roadmap' class="ul1"}}Roadmap{{/link-to}}</li>
        <li>{{#link-to 'next-steps' class="ul1"}}Next Steps{{/link-to}}</li>
      </ul>
    </div>
    <header>
      <div class="third-link"></div>
      <div class="third-header">
        {{#link-to 'index'}}<img class="me" src="assets/images/150-logo.jpg"/>{{/link-to}}
      </div>
      <div class="third-link">
        {{#if isExpanded}}
          <div {{action 'contract'}} class="hamburger-right">
            <div class="stroke"></div>
            <div class="stroke"></div>
            <div class="stroke"></div>
          </div>
        {{else}}
          <div {{action 'expand'}} class="hamburger-right">
            <div class="stroke"></div>
            <div class="stroke"></div>
            <div class="stroke"></div>
          </div>
        {{/if}}
      </div>
    </header>
    {{liquid-outlet}}
  </div>
</div>

<!-- <footer>
  <div class="row">
    <div class="third">
      <span>Left</span>
    </div>
    <div class="third">
      <span>Center</span>
    </div>
    <div class="third">
      <span>Right</span>
    </div>
  </div>
</footer> -->
