<div class="parent">

  {{#link-to 'platform.dashboard' class="child black"}}
  <div class="black" data-logo-id="r41">
    {{fa-icon "dashboard"}}
    <h1 class="green">Dashboard</h1>
    <p>A Dashboard to centralize and prioritize all your most important data about your business</p>
  </div>
  {{/link-to}}

  {{#link-to 'platform.estore' class="child black"}}
  <div class="black" data-logo-id="r42">
    {{fa-icon "shopping-cart"}}
    <h1 class="green">eStore</h1>
    <p>eCommerce is the final yet most crucial stage to a successful online business.  It takes alot of hard work to get a customer close to buying so a streamless checkout and user friendly eStore is a necessity.</p>
  </div>
  {{/link-to}}

  {{#link-to 'platform.email' class="child black"}}
  <div class="black" data-logo-id="r43">
    {{fa-icon "envelope"}}
    <h1 class="green">eMail</h1>
    <p>Send. Receive. Spam Filter. E-mail Marketing Campaigns. Scheduled Delivery</p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.crm' class="child black"}}
  <div class="black" data-logo-id="r44">
    {{fa-icon "archive"}}
    <h1 class="green">CRM</h1>
    <p>
      
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.profile' class="child black"}}
  <div class="black" data-logo-id="r45">
    {{fa-icon "user"}}
    <h1 class="green">Profile</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.content-curation' class="child black"}}
  <div class="black" data-logo-id="r46">
    {{fa-icon "book"}}
    <h1 class="green">Content Curation</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.blog' class="child black"}}
  <div class="black" data-logo-id="r47">
    {{fa-icon "laptop"}}
    <h1 class="green">Blog</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.calendar-events' class="child black"}}
  <div class="black" data-logo-id="r48">
    {{fa-icon "calendar"}}
    <h1 class="green">Calendar & Events</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.todos' class="child black"}}
  <div class="black" data-logo-id="r49">
    {{fa-icon "edit"}}
    <h1 class="green">Todos</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.builder' class="child black"}}
  <div class="black" data-logo-id="r50">
    {{fa-icon "wrench"}}
    <h1 class="green">Builder</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.analytics' class="child black"}}
  <div class="black" data-logo-id="r51">
    {{fa-icon "line-chart"}}
    <h1 class="green">Analytics</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.messenger' class="child black"}}
  <div class="black" data-logo-id="r52">
    {{fa-icon "chat"}}
    <h1 class="green">Messenger</h1>
  </div>
  {{/link-to}}
</div>

{{liquid-outlet}}
