<div class="parent">

  {{#link-to 'platform.dashboard' class="child black"}}
  <div class="black" data-logo-id="r41">
    {{fa-icon "dashboard"}}
    <h1 class="green">Dashboard</h1>
    <p>A Dashboard to centralize and prioritize all your most important data about your business.  The 50,000 foot view is a great place to manage a small business.</p>
  </div>
  {{/link-to}}

  {{#link-to 'platform.estore' class="child black"}}
  <div class="black" data-logo-id="r42">
    {{fa-icon "shopping-cart"}}
    <h1 class="green">eStore</h1>
    <p>eCommerce is the final yet most crucial stage to a successful online business.  It takes alot of hard work to get a customer close to buying so a streamless checkout and user friendly eStore is a necessity.</p>
  </div>
  {{/link-to}}

  {{#link-to 'platform.email' class="child black"}}
  <div class="black" data-logo-id="r43">
    {{fa-icon "envelope"}}
    <h1 class="green">eMail</h1>
    <p>Send. Receive. Spam Filter. E-mail Marketing Campaigns. Scheduled Delivery.  Toggle between various Personal & Professional addresses and carry out e-Mail MKTG Campaigns with ease. </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.crm' class="child black"}}
  <div class="black" data-logo-id="r44">
    {{fa-icon "archive"}}
    <h1 class="green">CRM</h1>
    <p>
Forecast like a pro with the CRM - Pipeline<br>
Observe, support and improve your sales force<br>

A Master List of current and prospective clients<br>
Detailed employee positions and notes from conversations<br>
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.profile' class="child black"}}
  <div class="black" data-logo-id="r45">
    {{fa-icon "user"}}
    <h1 class="green">Profile</h1>
    <p> Express Yourself | Promote Your Business <br>
      A recap of recent and relavent events all on the same page. Stand for causes, promote ideas or events and share desired content with your network. <br>
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.content-curation' class="child black"}}
  <div class="black" data-logo-id="r46">
    {{fa-icon "book"}}
    <h1 class="green">Content Curation</h1>
    <p>
      Crowdsourced Content Editing<br>
      Record your screen exploring your Web App for an elegent screencast.
      Find the best overlap between good SEO that doesn't compromise the integrity.
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.blog' class="child black"}}
  <div class="black" data-logo-id="r47">
    {{fa-icon "laptop"}}
    <h1 class="green">Blog</h1>
    <p>
      Our Blog Engine does alot of what you might expect and a few things you wouldn't. The Hopper is unique in it's aggressive embrace of the full process starting at initial idea.  Nurturing the early phases in a logical manner promotes iterative improvements.  Also, proper english writing patterns and structure support is available.
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.calendar-events' class="child black"}}
  <div class="black" data-logo-id="r48">
    {{fa-icon "calendar"}}
    <h1 class="green">Calendar & Events</h1>
    <p>Leverage personal and profressional profiles with synced data.  Provide access to trusted friends, families and colleagues for easy group scheduling. If you are in a business demo, a time-block on your personal calendar should adjust automatically.

    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.todos' class="child black"}}
  <div class="black" data-logo-id="r49">
    {{fa-icon "edit"}}
    <h1 class="green">Todos</h1>
    <p>Bright minds discovered that applying a "when stumped, break it down further" mentality to problem solving was extremely successfull. Create and Manage Tasks and organize them with Buckets.  Invite Friends/Colleagues and keep everyone in the loop on projects.  Bring Sanity To the Madness.  </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.builder' class="child black"}}
  <div class="black" data-logo-id="r50">
    {{fa-icon "wrench"}}
    <h1 class="green">Builder</h1>
    <p>
      Add Crisp New Pages in Seconds with components, sections, pages and theme templates.
      Color Scheme Generation works magic with the input of just one color<br>
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.analytics' class="child black"}}
  <div class="black" data-logo-id="r51">
    {{fa-icon "line-chart"}}
    <h1 class="green">Analytics</h1>
    <p>
Create, Prioritize, and manage Key Performance Indicators. 2 data points receive substantially more attention, visitors and conversion rate.
    </p>
  </div>
  {{/link-to}}
  {{#link-to 'platform.messenger' class="child black"}}
  <div class="black" data-logo-id="r52">
    {{fa-icon "envelope-o"}}
    <h1 class="green">Messenger</h1>
    <p>Real-time Messaging for you and your team. Setup event forwarding for full Interaction Aggregation.  No more vendor conflict = a beautiful thing.  </p>
  </div>
  {{/link-to}}
</div>

{{liquid-outlet}}
