{{#link-to 'platform.estore' class="full-width"}}
  <div class="gray-200" data-logo-id="r42">
    {{fa-icon "shopping-cart"}}
    <h1 class="green">eStore</h1>
  </div>
{{/link-to}}

<!--
{{#link-to 'platform.estore' class="child"}}
<div class="gray" data-logo-id="r42">
  {{fa-icon "shopping-cart"}}
  <h1 class="green">eStore</h1>
  <p>eCommerce is the final yet most crucial stage to a successful online business.  It takes alot of hard work to get a customer close to buying so a streamless checkout and user friendly eStore is a necessity.</p>
</div>
{{/link-to}} -->
<!-- <section class="parent">
  <div class="child"><h4>Custom eCommerce Store Template</h4></div>
  <div class="child"><img id="s3"></div>
  <div class="child"><h4>Multiple Payment Types</h4></div>
  <div class="child whitebg"><img id="s5"></div>
  <div class="child"><h4>Infinite Scroll</h4></div>
  <div class="child"><img id="s6"></div>
  <div class="child"><h4>Admin Interface</h4></div>
  <div class="child"><img id="s7"></div>
  <div class="child"><h4>User Authentication & Authorization</h4></div>
  <div class="child"><img id="s8"></div>
  <div class="child"><h4>Unlimited Products</h4></div>
  <div class="child"><img id="s9"></div>
  <div class="child"><h4>Custom Shipping Options</h4></div>
  <div class="child whitebg"><img id="s4"></div>

</section> -->
<section class="parent">
  <div class="child-250 black">
    <div>
      {{fa-icon "user"}}
    <h1 class="green">Admin Roles</h1>
    <!-- <p>
      Create and Manage users as well<br>
      Role Based Access Control<br>

    </p> -->
    </div>
  </div>
  <div class="child-250 black">
  <div>
    {{fa-icon "plus"}}
  <h1 class="green">Unlimited Products</h1>

  </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "image"}}
    <h1 class="green">Trending Templates</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
    {{fa-icon "search-plus"}}
    <h1 class="green">Search Components</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "angle-double-down"}}
      <h1 class="green">Infinite Scroll</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "dollar"}}
    <h1 class="green">Checkout Sequence</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "ship"}}
    <h1 class="green">Custom Shipping</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "dollar"}}
    <h1 class="green">Custom Point of Sale</h1>

    </div>
  </div>

  <div class="child-250 black">
    <div>
      {{fa-icon "mobile"}}
    <h1 class="green">Responsive to Devices</h1>

    </div>
  </div>
</section>
{{liquid-outlet}}

<h4>
{{#link-to 'platform.email' class="hero-container"}}
  <button type="button" name="button">
    eMail
  </button>
{{/link-to}}
</h4>
