<section class="parent">
  <div class="child-250 black">
    <div>
      {{fa-icon "user"}}
    <h1 class="green">Admin Roles</h1>
    <!-- <p>
      Create and Manage users as well<br>
      Role Based Access Control<br>

    </p> -->
    </div>
  </div>
  <div class="child-250 black">
  <div>
    {{fa-icon "plus"}}
  <h1 class="green">Unlimited Products</h1>

  </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "image"}}
    <h1 class="green">Trending Templates</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
    {{fa-icon "search-plus"}}
    <h1 class="green">Search Components</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "angle-double-down"}}
      <h1 class="green">Infinite Scroll</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "dollar"}}
    <h1 class="green">Checkout Sequence</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "ship"}}
    <h1 class="green">Custom Shipping</h1>

    </div>
  </div>
  <div class="child-250 black">
    <div>
      {{fa-icon "dollar"}}
    <h1 class="green">Custom Point of Sale</h1>

    </div>
  </div>

  <div class="child-250 black">
    <div>
      {{fa-icon "mobile"}}
    <h1 class="green">Responsive to Devices</h1>

    </div>
  </div>
</section>
{{liquid-outlet}}
