
<div class="parent">
  <div class="child black">
    <div>
      {{fa-icon "photo"}}
      <h1 class="green">Design</h1>
      <p>Responsive. Reactive. Engaging</p>
    </div>
  </div>

  <div class="child black">
    <div>
      {{fa-icon "bar-chart"}}
      <h1 class="green">Marketing</h1>
      <p>Increase Visitors.  Increase Conversion Rate.</p>
    </div>
  </div>


  <div class="child black">
    <div>
      {{fa-icon "cogs"}}
      <h1 class="green">Development</h1>
      <p>Custom API's.</p>
    </div>
  </div>

  <div class="child black">
    <div>
      {{fa-icon "database"}}
      <h1 class="green">Networking</h1>
      <p>Scaling. DNS. Domains. Sub-Domains.</p>
    </div>
  </div>

  <div class="child black">
    <div>
      {{fa-icon "search-plus"}}
      <h1 class="green">Site Search</h1>
      <p>Custom Site Search for your Web App</p>
    </div>
  </div>
  <div class="child black">
    <div>
      {{fa-icon "lock"}}
      <h1 class="green">Security Check</h1>
      <p>Lock Down Important Data.  Reduce Security Risk.</p>
    </div>
  </div>
</div>
 {{liquid-outlet}}
